ul {
  padding:0px;
}

.card-trip {
  position: relative;
  .fa-edit {
    position: absolute;
    top: 27px;
    right: 11px;
    font-size: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: lightgray;
  }
  .fa-edit:hover {
    color: darkgray;
  }
}

.fa-check-circle {
  background-color: #2FBF6C
}

.fa-check-circle:hover {
  background-color: #007C00
}

.fa-times-circle {
  background-color: #EA2F22;
}

.fa-times-circle:hover {
  background-color: #C60000;
}
