<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dafu5yrkg/image/upload/v1630417136/homepage_image_tcwzjl.jpg)'>
  <div class="container">
    <div class="content">
      <h1>On the record</h1>
      <p>Find vinyls to rent near you!</p>
    </div>
    <%= render "shared/search" %>
  </div>
</div>
