.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-vinyl {
  background-color: white;
  overflow: hidden;
  height: 185px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 16px;
  border-radius: 4px;
}

.card-vinyl img {
  height: 185px;
  width: 185px;
  object-fit: cover;
}

.card-vinyl p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-vinyl .card-vinyl-info {
  padding: 16px;
}

.album-name {
  color: black !important;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

// Dashboard cards //

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 230px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 100px;

}

.booking-info {
  display: flex;
  width: 100%;

  .card-trip-pricing {
    width: 50%;
    text-align: right;
  }

  .card-trip-dates {
    width: 50%;
  }
}
